{{#enable}}
<div class="form-group">
  <input type="text" class="form-control" placeholder="Search" id="input-search">
  <button class="btn btn-default" id="btn-remove-docs" style="display: none;">
    Remove
    <span class="badge"></span>
  </button>
  <button class="btn btn-default" id="btn-reset-col" style="display: none;">
    Reset Columns
  </button>
  <button class="btn btn-default">+ New</button>
</div>
{{/enable}}
