<div class="panel panel-default">
  <div class="panel-heading">Collections</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">
        <input type="text" class="form-control"
               name="colname" placeholder="collection name" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-plus"></span>
            New
          </button>
        </span>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr><th>name</th><th></th>
    </thead>
    <tbody>
      {{#collections}}
      <tr>
        <td>{{name}}</td>
        <td>
          {{#removable}}
          <span class="glyphicon glyphicon-trash"></span>
          {{/removable}}
        </td>
      </tr>
      {{/collections}}
    </tbody>
  </table>
</div>
