<div class="panel panel-default">
  <div class="panel-heading">Collections</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="input-group">
          <input type="text" class="form-control" id="input-colName"
                 name="colname" placeholder="collection name" />
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="btn-createCollection">
              <span class="glyphicon glyphicon-plus"></span>
              New
            </button>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <table class="table">
          <thead>
            <tr><th>name</th><th></th>
          </thead>
          <tbody>
            {{#collections}}
            <tr class="collection" data-id="{{name}}">
              <td>{{name}}</td>
              <td>
                {{#removable}}
                <span class="glyphicon glyphicon-trash btn-remove"></span>
                {{/removable}}
              </td>
            </tr>
            {{/collections}}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
