<div data-role="component" data-name="dbList" />
<div data-role="component" data-name="buildInfo" />

<div data-role="component" data-name="serverStatus" />
<div data-role="component" data-name="replSetStatus" />

