<div data-role="component" data-name="column_selector" />

<table class="table table-condensed table-hover">
  <thead data-role="component" data-name="thead" />
  <tbody data-role="component" data-name="tbody" />
</table>

<button class="btn btn-block btn-link btn-load_more hide">Load More ...</button>

