<div class="panel panel-default">
  <div class="panel-heading">Databases</div>
  <div class="panel-body">
    <div class="col-md-6 col-xs-12">
      <table class="table">
        <thead>
          <tr><th>name</th><th></th>
        </thead>
        <tbody>
          {{#databases}}
          <tr>
            <td>{{name}}</td>
            <td>
              {{#removable}}
              <span class="glyphicon glyphicon-trash"></span>
              {{/removable}}
            </td>
          </tr>
          {{/databases}}
        </tbody>
      </table>
    </div>
  </div>
</div>
