<a class="list-group-item" href="#dbStats&conn={{conn}}&db={{db}}">
  <h4>{{db}}</h4>
</a>
{{#collections}}
<a class="list-group-item"
   href="#documents&conn={{conn}}&db={{db}}&col={{colname}}">
  {{colname}}
</a>
{{/collections}}


