<a class="list-group-item list-group-item-info"><strong>{{db}}</strong></a>
{{#collections}}
<a class="list-group-item"
   href="#viewer&conn={{conn}}&db={{db}}&col={{colname}}">{{colname}}</a>
{{/collections}}


