<p>
<button class="btn btn-default" id="btn-save">Save</button>
<button class="btn btn-default" id="btn-reset">Reset</button>
</p>

<textarea id="input-doc" class="col-md-8 col-xs-12" style="height:{{height}}px;">
{{data}}
</textarea>
