<div class="col-md-8 col-xs-12">
<p class="pull-left">
<button class="btn btn-default" id="btn-reset">Reset</button>
</p>

<p class="pull-right">
<button class="btn btn-default" id="btn-save">Save</button>
</p>

<textarea id="input-doc" class="col-xs-12" style="height:{{height}}px;">
{{data}}
</textarea>

</div>
