<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand">MONGRES</a>
  </div>

  <ul class="nav navbar-nav">
    <li>
      <button type="button" class="btn btn-default navbar-btn btn-link"
              id="btn-toggle-sidebar" data-role="component" data-name="toggleSidebar">
      </button>
    </li>
  </ul>
  <ul class="nav navbar-nav" data-role="component" data-name="navi"></ul>
</div>
