<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand">MONGORES</a>
  </div>

  <ul class="nav navbar-nav">
    <li>
      <button type="button" class="btn btn-default navbar-btn btn-link"
              id="btn-toggle-sidebar" data-role="component" data-name="toggleSidebar">
      </button>
    </li>
  </ul>
  <ul class="nav navbar-nav" data-role="component" data-name="navi"></ul>
  <a class="btn btn-default navbar-btn pull-right" href="#connect">
    Connect
  </a>
  <button class="btn btn-default navbar-btn pull-right" id="btn-reset-col">
    Reset Columns
  </button>
</div>
