<div style="padding-top: 50px;">
  <div class="list-group">
    <a/>
  {{#databases}}
    <div data-role="component" data-name="db" data-dbname="{{name}}"
         load-once="true"></div>
  {{/databases}}
    <a/>
  </div>
