<div style="padding-top: 50px;">
  <div class="list-group">
    <a/>
    <a class="list-group-item list-group-item-danger"
       href="#connInfo&conn={{connId}}">{{connId}}</a>
  {{#databases}}
    <div data-role="component" data-name="db" data-dbname="{{name}}"
         load-once="true"></div>
    <a/>
  {{/databases}}
  </div>
