<tr>
  <th>
    <input type="checkbox" id="cbx-all">
  </th>
  {{#fields}}
  <th class="{{classValue}} {{#hide}}hide{{/hide}}" data-value="{{value}}" style="white-space: nowrap;">
    {{#parts}}
    <div class="field-part">
    {{name}}
    <span class="glyphicon glyphicon-remove-circle btn-remove_col" style="opacity:0;"
          data-index="{{index}}" data-name="{{name}}"
          />
    </div>
    {{/parts}}
  </th>
  {{/fields}}
</tr>
