<div data-role="component" data-name="db_list" />
<div data-role="component" data-name="buildInfo" />

<div data-role="component" data-name="serverStatus" />
<div data-role="component" data-name="replSetStatus" />

