<div id="col-selector"></div>

<table class="table table-condensed table-hover">
  <thead>
  </thead>
  <tbody>
  </tbody>
</table>

<button class="btn btn-block btn-link btn-load_more">Load More ...</button>

{{=<% %>=}}

<script type="text/template" id="template-data_table_col_selector">
  <select class="multiselect" multiple="multiple">
    {{#fields}}
    <option value="{{value}}" selected>{{displayText}}</option>
    {{/fields}}
  </select>
</script>

<script type="text/template" id="template-data_table_thead">
  <tr>
    {{#fields}}
    <th class="{{classValue}}">{{#displayParts}}{{.}}<br>{{/displayParts}}</th>
    {{/fields}}
  </tr>
</script>

<script type="text/template" id="template-data_table_tbody">
  {{#records}}
  <tr data-id="{{_id}}">
    {{#values}}
    <td class="{{k}}">{{v}}</td>
    {{/values}}
  </tr>
  {{/records}}
</script>

<%={{ }}=%>

