<style>
.layout {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.layout-first {
  left: 0;
}

.layout-second {
  right: 0;
}

.layout-splitter {
  z-index: 1000;
  width: 5px;
  background: #efefef;
}

.layout-splitter:hover {
  cursor: col-resize;
}

</style>

{{#first}}
<div class="layout layout-first" data-role="component" data-name="{{name}}" />
{{/first}}
<div class="layout layout-splitter"></div>
{{#second}}
<div class="layout layout-second" data-role="component" data-name="{{name}}" />
{{/second}}

